@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: Lato;
	margin: 0;
	padding: 0;
	line-height: .5em;
	font-size: 2em;
}

// Include other @imports of other scss sheets here.